#back_arrow {
    width:50px;
    height:50px;
}
p {
    font-size:x-large;
}
body {
    background-color:rgb(51, 52, 52);
    color: white;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}